body{
    background-color: #FDFDE9
h1{
font-size: 60px;
color: black;
text-align: center;
border: 7px groove rgb(7, 21, 87);
p{
    font-size: 20px;
    color:#0D0B61;
    text-align: center;
}
img{
    width: 30;
    margin-left: 850px;
}